@font-face {
  font-family: "Josefin Sans";
  src: url(/Users/elisengo/Desktop/p\ yurzy/Fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  font-family: "Josefin Sans";
  margin: 0;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define landing page width */

.landing-container {
  width: 50%;
}

.header {
  text-align: center;
  font-size: 30px;
}

.plat {
  color: #ff3c38;
  font-weight: bold;
}

.screenings {
  margin-top: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Table cell styling */

td:not(
    .column-1,
    .movie-title,
    .minutes,
    .rating,
    .imdb,
    .cart-info,
    .total-price,
    .empty-cart-message,
    .purchase
  ) {
  width: calc(100% / 10);
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #ff3c38;
  border: 1px solid white;
}

.column-1:not(.cart-info) {
  padding: 1rem;
  color: white;
  background-color: #ff3c38;
  border: 1px solid white;
}

/* Hide add-to-cart buttons */

.add-to-cart {
  display: none;
}

/* Hide showtime */

.time:hover .movie-time {
  display: none;
}

/* Display add-to-cart button */

.time:hover .add-to-cart {
  display: inline-block;
}

.time:hover {
  background-color: #f3ce13;
}

/* Hide movie info */

.movie-name,
.movie-day,
.movie-date {
  display: none;
}

/* Cells that need to take up space but be invisible */

.empty {
  opacity: 0;
}

.movies {
  margin-top: 3rem;
}

.movie {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid black;
}

/* Remove underline from links */

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* Hide movie descriiptions */

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.details {
  width: 100;
}

.movie-title {
  width: 65.5%;
}

.minutes {
  width: 17%;
  padding: 0 15px;
  text-align: right;
}

.rating {
  width: 11.5%;
  padding: 0 5px;
  text-align: left;
}

.imdb {
  width: 7%;
  padding: 0 5px;
  text-align: center;
  background-color: #f3ce13;
  border-radius: 5px;
}

.info {
  margin-top: 3rem;
  text-align: center;
  font-size: 30px;
}

.page-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Define cart width */

.cart {
  width: 50%;
  height: auto;
}

.cart-summary {
  font-size: 24px;
  font-weight: bold;
}

.cart-table {
  width: 100%;
  margin-top: 3rem;
  border-collapse: collapse;
}

/* Cart item info takes up most of the width of the row */

.cart-info:nth-child(1) {
  width: 60%;
  padding: 1rem;
  text-align: left;
}

.cart-time {
  background-color: #f3ce13;
}

/* Cart item quantity */

.cart-info:nth-child(2) {
  width: 25%;
  padding: 1rem;
}

.cart-info:nth-child(2) button {
  margin: 0 15px;
}

/* Cart item total */

.cart-info:nth-child(3) {
  width: 15%;
  padding: 1rem;
  text-align: right;
}

.gif {
  width: 40%;
  height: auto;
  margin-bottom: 0;
}

/* Elements that need to be hidden and take up no space */

.hide {
  display: none;
}

.purchase {
  text-align: right;
}

.purchase-button {
  padding: 5px 10px;
}
