@font-face {
  font-family: "Josefin Sans";
  src: url(/Users/elisengo/Desktop/p\ yurzy/Fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  font-family: "Josefin Sans";
  margin: 0;
}

.page-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1-container {
  display: table;
  width: 50%;
}

.header {
  text-align: center;
  font-size: 30px;
}

.plat {
  color: #ff3c38;
  font-weight: bold;
}

.screenings {
  margin-top: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td:not(
    .column-1,
    .minutes,
    .rating,
    .imdb,
    .cart-info,
    .total-price,
    .empty-cart-message,
    .purchase
  ) {
  width: calc(100% / 10);
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #ff3c38;
  border: 1px solid white;
}

.column-1:not(.cart-info) {
  padding: 1rem;
  color: white;
  background-color: #ff3c38;
  border: 1px solid white;
}

.add-to-cart {
  display: none;
}

.time:hover .movie-time {
  display: none;
}

.time:hover .add-to-cart {
  display: inline-block;
}

.time:hover {
  background-color: #f3ce13;
}

.movie-name,
.movie-day,
.movie-date {
  display: none;
}

.empty {
  opacity: 0;
}

.movies {
  margin-top: 3rem;
}

.movie-1,
.movie-2,
.movie-3 {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid black;
}

.movie-1-title,
.movie-2-title,
.movie-3-title {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.details {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.minutes,
.rating,
.imdb {
  padding: 0 10px;
}

.imdb {
  background-color: #f3ce13;
  border-radius: 5px;
}

.info {
  margin-top: 3rem;
  text-align: center;
  font-size: 30px;
}

.page-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cart {
  width: 50%;
}

.cart-summary {
  font-size: 24px;
  font-weight: bold;
}

.cart-table {
  width: 100%;
  margin-top: 3rem;
  border-collapse: collapse;
}

.cart-info:nth-child(1) {
  width: 60%;
  padding: 1rem;
  text-align: left;
}

.cart-time {
  background-color: #f3ce13;
}

.cart-info:nth-child(2) {
  width: 25%;
  padding: 1rem;
}

.cart-info:nth-child(2) button {
  margin: 0 15px;
}

.cart-info:nth-child(3) {
  width: 15%;
  padding: 1rem;
  text-align: right;
}

.empty-cart-message {
  font-size: 30px;
  color: #ff3c38;
}

.gif {
  width: 40%;
  height: auto;
}

.hide {
  display: none;
}

.purchase {
  text-align: right;
}

.purchase button {
  padding: 5px 10px;
}
